<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div>
  <h1>DataSet Info</h1>
  <table border="1" style="border-collapse:collapse">
    <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>External User</td>
    </tr>
    </thead>
        <tr>
          <td><%=@data_set.id%></td>
          <td><%=@data_set.name%></td>
          <td><%=@external_user%></td>
        </tr>
    <tbody>
    </tbody>
  </table>
</div>
</body>
</html>