SNOWGLOBE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJnb29nbGUtb2F1dGgyfDEwODA4MDk4NjQ1MzgxODg2MTA3MiIsImFwaUtleUlkIjoiN2RkZjkxNzQtN2QzNy00MmU3LWE1OGQtNzBmN2IxZTI1N2Q0Iiwic2NvcGUiOiJyZWFkOnBhY2thZ2VzIiwicGVybWlzc2lvbnMiOlsidGhyZWF0X3Rlc3Rlcl9pbnZpdGU6dHJ1ZSJdLCJpYXQiOjE3NTgxMzU3NDYsImV4cCI6NDkxMTczNTc0Nn0.402EcPcQNl5p4OxnETK0eayuL7c9V7VMH5jU20o64J8
